src/vendor/
src/node_modules/
src/npm-debug.log
src/yarn-error.log

# Laravel 4 specific
src/bootstrap/compiled.php
src/app/storage/

# Laravel 5 & Lumen specific
src/public/storage
src/public/hot

# Laravel 5 & Lumen specific with changed public path
src/public_html/storage
src/public_html/hot

src/storage/*.key
src/.env
src/Homestead.yaml
src/Homestead.json
src/.vagrant
src/.phpunit.result.cache

mysql/
nginx/
php/
mysql/auto.cnf
mysql/ca.pem
mysql/ca-key.pem
mysql/client-cert.pem
mysql/client-key.pem
mysql/ib_buffer_pool
mysql/ib_logfile0
mysql/ib_logfile1
mysql/ibdata1
mysql/ibtmp1
mysql/private_key.pem
mysql/public_key.pem
mysql/server-cert.pem
mysql/server-key.pem